<!DOCTYPE html>
	<html>
		<head>
		    <meta charset="UTF-8">

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
		    <meta name="viewport" content="width=device-width, initial-scale=1">
		    <link rel="stylesheet" type="text/css" href="https://ruleworld.github.io/atomizer/stylesheets/normalize.css" media="screen">
		    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		    <link rel="stylesheet" type="text/css" href="https://ruleworld.github.io/atomizer/stylesheets/stylesheet.css" media="screen">
		    <link rel="stylesheet" type="text/css" href="https://ruleworld.github.io/atomizer/stylesheets/github-light.css" media="screen">
		</head>
		<body>
    <section class="page-header">
      <h1 class="project-name">Atomizer</h1>
      <h2 class="project-tagline">RNM to RBM translation project</h2>
      <nav>
      <a href="/atomizer/" class="btn">Home</a>
      <a href="/atomizer/manual" class="btn">User manual</a>
      <a href="/atomizer/blog" class="btn">Blog</a>

      <a href="https://ratomizer.appspot.com/" class="btn">Web app</a>
      <a href="https://github.com/RuleWorld/atomizer" class="btn">GitHub repo</a>
      </nav>
    </section>

			    <section class="main-content">

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			</section>
			<footer>
			</footer>
		</body>
	</html>
